services:
  # >----------->
  # >>> Aliases
  # >----------->
  PfaffKIT\Essa\EventSourcing\EventClassResolver: '@essa.event_class_resolver'
  PfaffKIT\Essa\EventSourcing\Storage\EventStorage: '@essa.event_storage'
  PfaffKIT\Essa\EventSourcing\SnapshotStorage: '@essa.snapshot_storage'
  PfaffKIT\Essa\EventSourcing\Storage\AggregateRepository: '@essa.event_aggregate_repository'
  PfaffKIT\Essa\EventSourcing\Serializer\EventSerializer: '@essa.event_serializer'
  PfaffKIT\Essa\EventSourcing\Serializer\ProjectionSerializer: '@essa.projection_serializer'
  PfaffKIT\Essa\IntegrationEvent\IntegrationEventSerializer: '@essa.integration_event_serializer'
  PfaffKIT\Essa\EventSourcing\EventBus: '@essa.event_bus'
  PfaffKIT\Essa\EventSourcing\Projection\Bus\ProjectionBus: '@essa.projection_bus'
  PfaffKIT\Essa\Command\CommandBus: '@essa.command_bus'
  PfaffKIT\Essa\Query\QueryBus: '@essa.query_bus'
  PfaffKIT\Essa\IntegrationEvent\IntegrationEventBus: '@essa.integration_event_bus'
  PfaffKIT\Essa\EventSourcing\Projection\ProjectionManagerInterface: '@essa.projection_manager'
  PfaffKIT\Essa\EventSourcing\EventUpcasterChain: '@essa.event_upcaster_chain'

  # >------------------->
  # >>> Implementations
  # >------------------->
  essa.event_storage:
    class: PfaffKIT\Essa\EventSourcing\Storage\FallbackEventStorage # Will be replaced further in the bundle configuration
    public: true
    autowire: true

  essa.snapshot_storage:
    class: PfaffKIT\Essa\EventSourcing\Storage\FallbackSnapshotStorage # Will be replaced further in the bundle configuration
    public: true
    autowire: true

  essa.event_class_resolver:
    class: PfaffKIT\Essa\EventSourcing\EventClassResolver
    public: true
    autoconfigure: true
    autowire: true

  essa.event_serializer:
    class: PfaffKIT\Essa\EventSourcing\Serializer\JsonEventSerializer
    public: true
    autowire: true

  essa.projection_serializer:
    class: PfaffKIT\Essa\EventSourcing\Serializer\JsonProjectionSerializer
    public: true
#    autoconfigure: true
    autowire: true

  essa.integration_event_serializer:
    class: PfaffKIT\Essa\IntegrationEvent\JsonIntegrationEventSerializer

  essa.event_bus:
    class: PfaffKIT\Essa\EventSourcing\Bus\InMemorySymfonyEventBus
    public: true
    autowire: true

  essa.projection_bus:
    class: PfaffKIT\Essa\EventSourcing\Projection\Bus\InMemorySymfonyProjectionBus
    public: true
    autowire: true

  essa.command_bus:
    class: PfaffKIT\Essa\Command\InMemorySymfonyCommandBus
    public: true
    autowire: true

  essa.query_bus:
    class: PfaffKIT\Essa\Query\InMemorySymfonyQueryBus
    public: true
    autowire: true

  essa.integration_event_bus:
    class: PfaffKIT\Essa\IntegrationEvent\RabbitMqIntegrationEventBus
    public: true
    autowire: true

  essa.projection_manager:
    class: PfaffKIT\Essa\EventSourcing\Projection\ProjectionManager
    public: true
    autowire: true

  essa.event_upcaster_chain:
    class: PfaffKIT\Essa\EventSourcing\EventUpcasterChain
    public: true
    autowire: true

  # >------------->
  # >>> Tagging
  # >------------->
  PfaffKIT\Essa\EventSourcing\Projection\Projector:
    autoconfigure: true

  # >------------->
  # >>> Internals
  # >------------->
  # > Messenger
  PfaffKIT\Essa\EventSourcing\Projection\HandlerFilterMiddleware:
    tags: [ 'messenger.middleware' ]

  PfaffKIT\Essa\EventSourcing\Projection\ProjectionGeneralHandler:
    autowire: true
    autoconfigure: true

  PfaffKIT\Essa\Query\ValidateQueryMiddleware:
    autowire: true
    autoconfigure: true

  # An ugly way to use Symfony\Component\Messenger\DependencyInjection\MessengerPass
  # to inject bus information into command.
  console.command.messenger_debug:
    class: 'PfaffKIT\Essa\SymfonyCommand\BusDebugCommand'
    arguments: [[]]
    public: true
    autoconfigure: true
    autowire: true

  PfaffKIT\Essa\SymfonyCommand\RebuildProjectionCommand:
    public: true
    autoconfigure: true
    autowire: true

  # > Configurator
  PfaffKIT\Essa\Internal\ConfiguratorCommand:
    public: true
    autoconfigure: true
    arguments:
      $container: '@service_container'
      $configurators: !tagged_iterator essa.configurator
